@font-face { font-family: azonix; src: url('./Azonix.otf'); } 
@font-face { font-family: Lato-Regular; src: url('./Lato-Regular.ttf'); } 
@font-face { font-family: Lato-Light; src: url('./Lato-Light.ttf'); } 

html, body {
  height: 100%;
  margin: 0;
  
}

#infoBox {
  height: 110px;
  overflow: hidden;
}

#background {
  background-color: deepskyblue; 
  background-image: linear-gradient(deepskyblue, darkorchid);
  background-attachment: fixed;
  padding-bottom: 100px;
  min-height: 100%;
}

#search {
  background-color: white;
  border-radius: 15px;  
}

#container {
  background-color: white;
  border-radius: 15px;
  min-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 30px;
}

#containersmall {
  background-color: white;
  border-radius: 15px;
  min-height: 200px;
  
}

#sortInput {
  border-radius: 15px;
}


#inst {
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  font-family: Lato-Regular;
  font-size: 14px;
}

#footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Lato-Light;
  font-size: 16px;
  color: black;
  background-color: white;
}

#head {
  text-align: center;
  font-family: azonix;
  font-size: 70px;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

